[Unit]
Description=Leihs create-master-secret

[Service]
SyslogIdentifier=leihs-create-master-secret
Type=oneshot
# RemainAfterExit=yes
# TODO: Check hardcoded path /leihs/deploy/bin/create-master-secret
ExecStart=/leihs/deploy/bin/create-master-secret
