ansible_ssh_user: root

### Defaults for Configuring a Leihs Deployment, see README.md !!! ############



# when to perform automated tasks like reminder emails and auto-suspension of users. in "systemd timer calendar event" format, see https://man.archlinux.org/man/systemd.time.7.en#CALENDAR_EVENTS
leihs_run_nightly_tasks_on: "*-*-* 04:00:00"
leihs_run_nightly_tasks_randomized_delay_max_seconds: 3600
leihs_send_mails: No

LEIHS_ROOT_DIR: "/leihs"

### reverse proxy configuration ###############################################

reverse_proxy_clean_slate: true

# this is used to anonymize ip addresses for the webstats;
# if unset a per machine unique value will be selcted as the default
reverse_proxy_ip_hash_seed: null


api_basic_auth_enabled: true

restrict_access_via_basic_auth: false
restrict_access_via_basic_auth_passwords: {}

leihs_external_hostname: "leihs.example.org"
leihs_external_base_url: "https://{{leihs_external_hostname}}"

# set this to true if leihs is behind an reverse proxy
# which sets x_forwarded_for
reverse_proxy_use_x_forwarded_for: false

leihs_virtual_hosts:
  - hostname: "localhost"
    ip: "localhost"
    logfile_infix: "localhost"
    force_redirect_to_https: no
  - hostname: NULL
    ip: "*"
    ssl_certificate_file: /etc/ssl/certs/ssl-cert-snakeoil.pem
    ssl_certificate_key_file: /etc/ssl/private/ssl-cert-snakeoil.key
    force_redirect_to_https: no




### database backup ############################################################

db_backup_dir: "{{LEIHS_ROOT_DIR}}/var/db-backups"
db_backup_nightly_enabled: No
db_backup_keep_days: 10
db_backup_on_deploy: No
# custom settings included at end of service (e.g. to notify monitoring with ExecStart)
db_backup_service_custom_extend: False

### database service configuration #############################################

postgres_version: 15
leihs_database_user: leihs-database
leihs_database_dir: "{{LEIHS_ROOT_DIR}}/database"
leihs_database_clean_slate: false
leihs_database_ruby_dir: "/home/{{leihs_database_user}}/.asdf/installs/ruby/{{leihs_database_ruby_version.stdout}}"


### legacy service configuration ###############################################

leihs_legacy_user: leihs-legacy
leihs_legacy_dir: "{{LEIHS_ROOT_DIR}}/legacy"
leihs_legacy_clean_slate: false
leihs_legacy_max_threads_per_worker: 5
leihs_legacy_workers: "{{ansible_processor_vcpus}}"
leihs_legacy_ruby_dir: "/home/{{leihs_legacy_user}}/.asdf/installs/ruby/{{leihs_legacy_ruby_version.stdout}}"
leihs_legacy_puma_worker_killer_enabled: no
leihs_legacy_puma_worker_killer_ram: '{{ (ansible_memtotal_mb / 4) | int }}'


### micro services configuration ###############################################

LEIHS_LEGACY_HTTP_PORT: "3210"
LEIHS_ADMIN_HTTP_PORT: "3220"
LEIHS_PROCURE_HTTP_PORT: "3230"
LEIHS_PROCURE_CLIENT_HTTP_PORT: "3231"
LEIHS_MY_HTTP_PORT: "3240"
LEIHS_BORROW_HTTP_PORT: "3250"
LEIHS_INVENTORY_HTTP_PORT: "3260"

# Mail Service
leihs_mail_user: 'leihs-mail'
leihs_mail_dir: "{{LEIHS_ROOT_DIR}}/mail"

# My Service
leihs_my_user: 'leihs-my'
leihs_my_dir: "{{LEIHS_ROOT_DIR}}/my"

# Admin Service
leihs_admin_user: 'leihs-admin'
leihs_admin_dir: "{{LEIHS_ROOT_DIR}}/admin"

# Borrow Service
leihs_borrow_user: "leihs-borrow"
leihs_borrow_dir: "{{LEIHS_ROOT_DIR}}/borrow"

# Procure Service
leihs_procure_user: 'leihs-procure'
leihs_procure_dir: "{{LEIHS_ROOT_DIR}}/procure"

################################################################################

leihs_master_secret: "{{ lookup('password', inventory_dir + '/' + 'master_secret.txt chars=ascii_letters,digits,hexdigits length=40') }}"

################################################################################

database:
  host: localhost
  port: 5415
  username: root
  password: root
  database: leihs

### leihs inventory ############################################################

publish_inventory: False

### maintenance page configuration #############################################

maintenance_page_title: "Leihs Maintenance" # (title shown in browser tab)
maintenance_page_heading: "Leihs will be back soon!" # (title shown on the page)
maintenance_page_body_paragraphs_html: # NOTE: multiple paragraphs can be added, HTML is supported.
  - "Sorry for the inconvenience, but we're performing some scheduled maintenance at the moment."
  # - "Désolé pour le dérangement, mais nous effectuons actuellement une maintenance programmée."
  # - 'Contact <a href="mailto:service@example.org">service@example.org</a> for support.'
maintenance_page_status_page_url: Null # e.g.: https://ci.example.org/jobs/cf3782e7-43c9-4239-9dcf-d24469a44296



### webstats ###################################################################

webstats_enabled: true
webstats_passwords_remove: [] # list of usernames to be removed
webstats_passwords_set : {} # add unsername => password; note that unset passwords will not be removed automatically


### os & system configuration ##################################################

ci_vim_mode: false
server_timezone: Etc/UTC
# reset Debian default and restore Systemd default: prevent system crashes by
# overflowing disks due to excessive logging
journald_forward_to_syslog: 'no'
ntp_setup: no
ntp_server: pool.ntp.org
ssh_keys_present: []
ssh_keys_absent: []


### asdf version manager #######################################################

asdf_version: 0.14.1
asdf_root_dir: /home/{{asdf_user}}/.asdf
asdf_dir: "{{asdf_root_dir}}/asdf-{{asdf_version}}"


